* {
    box-sizing: border-box;
}

body {
    background-color: #ABC270;
    font-family: cursive;
}

nav {
    background-color: #FDA769;
    display: flex;
    justify-content: space-between;
    font-family: "American Typewriter";
}
nav img {
    height: 60px;
    opacity: 0.9;
}
ul {
    display: flex;
    align-items: center;
}

li {
    list-style-type: none;
    margin-right: 25px;
}
a {
    text-decoration: none;
}
a:link {
    color: #FFFFFF;
}
a:visited {
    color: #FFFFFF;
}
a:hover {
    color: #473C33;
}

header {
    background-image: url(plants.jpg);
    height: 780px;
    /*background-size: cover;*/
}
header div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.title {
    padding-top: 35px;
}
h1 {
    color: #4E6C50;
    font-size:11vmin;
    letter-spacing: 0.03em;
    line-height: 1;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    margin-bottom: 0px;
}
.description p {
    font-size:3vmin;
    color: #473C33;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: "American Typewriter";
}
main article {
    padding: 20px;
    text-align: center;
}
.collection-image {
    width:250px;
    height:250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer {
    background-color: #FEC868;
    display: flex;
    justify-content: center;
}

.input-container {
    font-family: "Academy Engraved LET";
}


.input-container h3 {
    padding-right: 50px;
    color: #4E6C50;
    font-size:5vmin;
    letter-spacing: 0.03em;
    line-height: 1;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}
.input-container form {
    padding-top: 25px;
}

.input-container input {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid #4E6C50;
}

.input-container input[type=submit] {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 38px 10px 38px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}